# R user-specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# generated package files (by devtools::document())
/man/
/NAMESPACE

# C++ object files
*.o
*.so
*.dll

# log files from fitting scripts
.logs/

# others
.DS_Store
.vscode/
.clangd
